.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"} LeadU
      .nav-collapse.collapse
      %ul.nav
        %li
          %a{:href => "/"} Home
          - if signed_in?
            - if professor?
              %li
                %a{:href => "/users/#{current_user.id}/edit"} Professor Panel
            - else
              %li
                %a{:href => follow_code_path } Student Panel
            %li
              %a{:href => logout_path} Logout
          - else  
            %li
              %a{:href => "./login"} Login
            %li
              %a{:href => "./signup"} Sign Up
