.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			%button.btn.btn-navbar{:type=>"button", "data-toggle"=>"collapse", "data-target"=>".nav-collapse"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand{:href=>"/"} LeadU
			.nav-collapse.collapse
				%ul.nav
					%li.active
						%a{:href=>"/"} Home
					%li
						%a{:href=>"about"} About
					%li
						%a{:href=>"contact"} Contact
					%li.dropdown
						%a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"} 
							MBTI 
							%b.caret
						%ul.dropdown-menu
							%li
								%a{:href=>"infp"} INFP 
							%li
								%a{:href=>"#"} INFJ
							%li
								%a{:href=>"#"} INTP
							%li.divider
							%li.nav-header INTJ
							%li
								%a{:href=>"#"} ISFP
							%li
								%a{:href=>"#"} ISFJ
				%form.navbar-form.pull-right
					%input.span2{:type=>"text", :placeholder=>"Email"}
					%input.span2{:type=>"password", :placeholder=>"Password"}
					%button.btn.btn-primary{:type=>"submit"} Sign in