#wrap  
  = render 'navigation3.html.haml'
  .jumbotron.masthead
    / Begin page content 
    .container
      %div.page-header
        %h1 About: Dan Mulhern
      %p.lead Dans Bio will go here!    

      %code Hi, Dan Mulhern Here!

#push 
    
= render "footer.html.haml"
