= render 'navigation.html.haml'

.jumbotron.masthead
  .container
    %h1 LeaderMatch
    %p Leadership Prescriptions for tomorrow's leaders
    %p
      %a.btn.btn-primary.btn-large{:href => "login"} Log In
      %a.btn.btn-primary.btn-large{:href => "login"} Sign Up

.container
  .marketing
    %h1 LeaderMatch Features
    .row-fluid
      .span4
        %h2 Built In Testing
        %p{:style=>'text-align: center'} We provide the survey for students to learn their personality type, and automatically calculate their prescriptions.
      .span4
        %h2 Advice from the Best
        %p{:style=>'text-align: center'} All recommendations stem from Dan Mulhern, Professor at the Haas School of Business at UC Berkeley. 
      .span4
        %h2 Free
	%p{:style=>'text-align: center'} This service is offered free to all students.
        %p This service is offered free to all students.
