#wrap  
  = render 'navigation.html.haml'

  / Begin page content 
  .row-fluid.staticPage
    .span8.offset2
      .page-header
        %center
          %h1.text-blue1 ISFP - The Healer
          %h2.text-blue2 Introverted iNtuitive Feeling Perceiving

      
      .span10.offset1 
        .page-header  
          %justify
            %center.lead.text-blue3 The Idealist

            %p

            %br 

            %h3.text-blue2 A Functional Analysis
            %br

            %h4.text-blue3 Introverted Thinking
            %p 

            %h4.text-blue3 Extraverted iNtuition
            %p

            %h4.text-blue3 Introverted Sensing  
            %p
  

            %h4.text-blue3 Extraverted Feeling
            %p


      .span6.offset3
        %br
        %h3.text-blue2 Famous INFPs:
        %ul 
          %li 

        %br
        %h3.text-blue2 Fictional INFPs
        %ul
          %li 
        %br

    %br

#push 
    
= render "footer.html.haml"