#wrap  
  = render 'navigation.html.haml'

  / Begin page content 
  .container
    .page-header
      %h1 What's In It For Me?
      %h2 Thats the Million Dollar Question!
    %p.lead We'll have to get with Dan to see what he wants to put here!    


#push 
    
= render "footer.html.haml"